.col-lg-6{
    padding: 0;
}
.col-12{
    padding: 0;
}

tr {
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}
td{
    padding: 15px;
}

 table {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 100%;
    text-align: center;
}
table input[type = radio]:hover{
    cursor: pointer;
}
.passed,.not-passed{
    display: block;
    width: 100%;
    color: #fff;
    padding: 15.5px  20px 0 20px ;
    font-weight: 900;
    transition: all ease-in-out .3s;
    height: 104px;
padding-top: 38px;
}

.passed{
    background-color: #04d904;
    
    
}

.not-passed{
    background-color: #bd2d2d;

}

table .col-6{
    padding: 0;
}
td:last-of-type{
    padding: 0;
}

.bkg{
    background-color: #ddd;
}
a:hover{
    cursor: pointer;
}

.average{
    padding: 5px;
    display: inline-block;
    width: 100%;
    border: none;
    background-color:rgb(255, 179, 0) ;
    color: #000;
}
.average:hover{
    background-color: #ecaa10;

}
.done{
    padding: 5px;
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #21d1dfba;
    color: #000;
}
/* .col-12{
    padding: 0;
} */
.done:hover{
    background-color: #19b8c3ba;
}
.done-section{
    width: 100%;
}

.stu tr{
    border-bottom: solid 3px #000;
}

@media  screen and (max-width: 500px){
    td {
        padding: 0 5px;
        font-size: 0.8em;
    }
}




