
body{
    /* display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center; */
}
.box{
    margin: auto;
    background-color: white;
    box-shadow: 8px 8px 25px #00000061;
    text-align: center;
    
}
 .box input[type = file]{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    /* width: 70%;
    border: solid 1px #000;
    padding:  5px  ;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px; */
} 
.box input[type = file]::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box input[type = file]::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box .right img{
    max-width: 200px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
    transition: transform ease-in-out 0.3s;
    padding-top: 150px;
}
.box .right  span:first-of-type{
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}
.box .left span{
    color:#078194;
    font-size: 2em;
}

 p.choosed:last-of-type{
    font-size: 1.6em;
    color: #ffca4f;
}
.box .right{
    background-color: #00bbd4;
    padding: 50px;
    -webkit-background-image: linear-gradient(rgb(0, 187, 150,0.8),rgb(0, 187, 150,0.8)), url("/media/images/change-background-2.png");
    -moz-background-image: linear-gradient(rgb(0, 187, 150,0.8),rgb(0, 187, 150,0.8)), url("/media/images/change-background-2.png");
    -o-background-image: linear-gradient(rgb(0, 187, 150,0.8),rgb(0, 187, 150,0.8)), url("/media/images/change-background-2.png");
    background-image: linear-gradient(rgb(0, 187, 150,0.8),rgb(0, 187, 150,0.8)), url("/media/images/change-background-2.png");
    background-repeat: no-repeat;
    height: 100%;
}
.box .left{
    padding: 50px;
    display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
label h2{
    color: #08a6bd;
}






  .subjects {
      width: 100%;
      text-align: center;

  }
  .subjects .item{

  }
  .subjects form{
      margin: auto;
      width: 100%;
  }
  .subjects form label{
      display: block;
  }
  .subjects .item{
      background-color: #fff;
      width: 100%;
      padding: 25px 23px;
      margin-top: 40px;;
      border: none;
      border-right: solid 5px #08a6bd ;
      box-shadow: 2px 2px 5px #00000061;
      transition: all ease-in-out 0.3s;
      font-size: 1.2em;
      
  }
  .subjects .item span{
      background-color: #08a6bd;
      padding: 5px;
      display: block;
      width: 100%;
      color: #fff;
      border-bottom: solid 2px #078194;
  }
  .subjects .item span:last-of-type{
      border-bottom: none;
  }


  .subjects .buttons{
      padding: 0;
  }
  .subjects .buttons .two button{
      border: none;
      background-color: #fff;
      color: #fff;
      width: 100%;
    padding: 10px 5px;
  }
  .subjects .buttons .two{

  }
  .subjects   div{
    padding: 0;
  }
  .subjects .buttons .two div:first-of-type button,
  .subjects .buttons .three div:first-of-type button{
    background-color: #009687;
   
  }
  .subjects .buttons .three button,
  .remover{
    border: none;
    background-color: #fff;
    color: #fff;
    width: 100%;
  padding: 10px 5px;
}
  .subjects .buttons .two div:last-of-type button{
    background-color: #ecaa10;
  }
  .subjects .buttons .two div:last-of-type button:hover{
    background-color: #f5bf43;
  }


  





  @media  screen and (max-width: 500px) {
	/* For desktop: */
	label h2{
        font-size: 1.5em;
       
    }
    .box .left {height: 100%}
    .box input{    width: 85%;}
    .box .right img {
        max-width: 150px;
    }
   p.choosed{
        font-size: 1em;
    }
    .box .right span.name{
        font-size: 1.5em;
    }
    .box .left button{
        /* font-size: 0.8em; */
        height: 58.7px;
    }
  }

  @media  screen and (max-width: 768px){
    .container{
        padding-left: 0px;
	    padding-right: 0px;
    }
    .box .left{
        padding: 50px 0;
    }
    .col-12{
        padding: 0;
    }
  }
  @media print{
	.box .right img{
        display: none;
    }
    .save-button{
        display: none;
    }
    .save{
        display: none;
    }
    .exit-buttons{
        display: none;
    }
    .passed,.not-passed{
        color: #000;
        background-color: #fff;
        height: auto;
        line-height: 62px;
        padding: 0;
    }
    th{
        font-size: 2em;
    }
    footer div div div:first-of-type{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    footer div div div:last-of-type{
        display: none;
    }
    table{
        margin-top: 0;
    }
    .average{
        display: none;
    }
    .done{
        display: none;
        
    }
    span.name{
        display: none;
    }
    select{
        display: none;
    }
    .choosed.title{
        font-size: 2em;
        color: #000;
    }
    table td a{
        text-decoration: none;
    }
    table td{
        padding-top: 0 ;
        padding-bottom: 0 ;
    }
    .box .left{
        padding-bottom: 0 ;
    }
    .box.right{
        padding-top: 0;
    }
    p.choosed{
        margin-top: 0;
    }
}


  .inputfile-6 + label{
      border: none;
      margin: auto;
      background-color: #fff;
  }
  .subjects .item span{
      background-color: #fff;
      color: darkgray;
  }
  .inputfile-6 + label strong{
      background-color: #08a6bd;
      width: 100%;
      color: #fff;
      transition: all ease .2s;
  }
  .inputfile-6 + label:hover strong {
      background-color:  #078194;

  }

  .inputfile-6 + label strong:hover{
    background-color: #078194;

  }
  .subjects .buttons .two div:last-of-type button.file-sent{
    background-color: gray;
    color: #FFF;
  }
.buttons{
    margin-top: 20px;
}
#collabel{
    display: inline-block;
}